@model LoginYap4.Entities.Song

@{
    Layout = "~/Views/Shared/_LayoutSummernote.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Add Song </h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Artist, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CoveredArtist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.CoveredArtist, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(x => x.Text, new { id = "summernote", name = "editordata" })
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Text2, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.TextAreaFor(x => x.Text2, new { id = "summernote2", name = "editordata" })
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsDraft, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsDraft)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TextSalt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.TextAreaFor(x => x.TextSalt)
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.CategoryId, "Kategori", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-8">
                @Bootstrap.Button("success", string.Empty, "submit", "plus", " Save")
                @Bootstrap.LinkButton("/Note/Index", "default", string.Empty, string.Empty, "", "Back")
            </div>
        </div>
    </div>
}

@*<form action="/Note/Creater" method="post">
    </form>*@


<script>

    $(document).ready(function () {
        $('#summernote').summernote();
    });
    $(document).ready(function () {
        $('#summernote2').summernote();
    });

</script>
